#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER 1
#define RAISE 2
#define BT 3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp APOS    &kp COMMA   &kp DOT     &kp p           &kp y           &kp f               &kp g           &kp c       &kp r       &kp l
                &kp a       &kp o       &kp e       &kp u           &kp i           &kp d               &kp h           &kp t       &kp n       &kp s
                &kp SEMI    &kp q       &kp j       &kp k           &kp x           &kp b               &kp m           &kp w       &kp v       &kp z
                                        &kp LALT    &kp LCMD        &kp LSHIFT      &lt LOWER SPACE     &mo LOWER       &mo RAISE
            >;
        };

        lower_layer {
            bindings = <
                &kp N1      &kp N2      &kp N3      &kp N4          &kp N5          &kp N6              &kp N7          &kp N8      &kp N9      &kp N0
                &kp EXCL    &kp AT      &kp HASH    &kp DLLR        &kp PRCNT       &kp CARET           &kp AMPS        &kp STAR    &kp LPAR    &kp RPAR
                &kp PLUS    &kp MINUS   &kp EQUAL   &kp LBRC        &kp RBRC        &kp LBKT            &kp RBKT        &kp BSLH    &kp FSLH    &kp QMARK
                                        &kp LALT    &kp LCMD        &kp LSHIFT      &none               &mo DEFAULT     &mo RAISE
            >;
        }:

        raise_layer {
            bindings = <
                &kp ESC     &none       &none       &none           &none           &none               &none           &none       &none       &kp DEL
                &kp TAB     &none       &none       &none           &none           &none               &none           &none       &none       &kp ENTER
                &none       &none       &none       &none           &none           &none               &none           &none       &none       &none
                                        &kp LALT    &kp LCMD        &kp LSHIFT      &lt LOWER SPACE     &mo LOWER       &mo Bt
            >;
        }:

        bt_layer {
            bingings = <
                &BT_CLR         &none           &none           &none           &none           &none               &none           &none       &none       &bootloader
                &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SELT 4   &none               &none           &none       &none       &none
                &none           &none           &none           &none           &none           &none               &none           &none       &none       &kp z
                                                &kp LALT        &kp LCMD        &kp LSHIFT      &lt LOWER SPACE     &mo LOWER       &mo RAISE
            >;
        };
    };
};
